on:
  pull_request:
  push:
    branches: [master, test-me-*]

jobs:
  main:
    strategy:
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10']
    runs-on: ubuntu-latest
    steps:
    - run: |
        : \
        && sudo apt-get update \
        && sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends zsh
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - run: pip install tox
    - run: tox -e py
